<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/twbsPagination")
    @Scripts.Render("~/bundles/kendo")

    <script src="~/Scripts/jquery.twbsPagination-1.3.1.min.js"></script>
    <script src="~/Scripts/jquery.twbsPagination-1.3.1.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(ShoppingCar.App_GlobalResources.LayoutMemberResource.Title, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(ShoppingCar.App_GlobalResources.LayoutMemberResource.Product_List, "Index", "Home")</li>
                    <li>@Html.ActionLink(ShoppingCar.App_GlobalResources.LayoutMemberResource.register, "Register", "Member")</li>
                    <li>@Html.ActionLink(ShoppingCar.App_GlobalResources.LayoutMemberResource.Login, "Login", "Member")</li>
                    <li class="navbar-collapse dropdown">
                        <a class="navbar-link dropdown-toggle" href="#" id="LangueDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">@ShoppingCar.App_GlobalResources.LayoutMemberResource.Language<span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="LangueDropdown">
                            <ul class="navbar-collapse collapse dropdown-menu">
                                <li>@Html.ActionLink("English", "SetCulture", "Home", new { culture = "en-US", returnUrl = this.Request.RawUrl }, null)</li>
                                <li>@Html.ActionLink("繁體中文", "SetCulture", "Home", new { culture = "zh-TW", returnUrl = this.Request.RawUrl }, null)</li>
                                <li>@Html.ActionLink("简体中文", "SetCulture", "Home", new { culture = "zh-CN", returnUrl = this.Request.RawUrl }, null)</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="col-sm-3">
        @(Html.Kendo().Menu().Name("menu")
                            .Items(items =>
                            {
                                items.Add().Text("Test1").HtmlAttributes(new {

                                });
                                items.Add().Text("Login").Action("Login", "Member");
                                items.Add().Text("Register").Action("Register", "Member");
                                items.Add().Text("Product List").Action("Index", "Home");
                                items.Add().Text("Language")
                                .Items(innerChildren=> 
                                {
                                    innerChildren.Add().Text("English").Action("SetCulture", "Home", new { culture = "en-US", returnUrl = this.Request.RawUrl });
                                    innerChildren.Add().Text("繁體中文").Action("SetCulture", "Home", new { culture = "zh-TW", returnUrl = this.Request.RawUrl });
                                    innerChildren.Add().Text("简体中文").Action("SetCulture", "Home", new { culture = "zh-CN", returnUrl = this.Request.RawUrl });
                                });
                                items.Add().Text("Test6");

                            }).Orientation(MenuOrientation.Vertical))
    </div>

    <div class="container body-content">

        <div class="col-sm-9">
            @RenderBody()
        </div>
        <footer>
            @*<p>&copy; @DateTime.Now.Year - @ShoppingCar.App_GlobalResources.LayoutMemberResource.Title</p>*@
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>