@model IEnumerable<ShoppingCar.Models.Product>
@{
    ViewBag.Title = "產品列表";
}
<head>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
    @if (TempData["LoginMessage"] != null)
    {
        <script type="text/javascript">
                var message = @Html.Raw(Json.Encode(TempData["LoginMessage"]));
                alert(message);
        </script>
    }
</head>
<h2>產品列表</h2>
<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-lg-4">
            <div class="thumbnail">
                <img src="@Url.Content(item.ProductImg)" style="width:70%;height:15em" />
                @{
                    byte[] img = item.ProductImg_DB;

                    var base64 = Convert.ToBase64String(img);
                    string imageDate = String.Format("data: image / gif;base64,{0}", base64);
                }
                <img src="@imageDate" style="width:70%;height:15em"/>
                <div class="caption">
                    <h4>名稱:@item.ProductName</h4>
                    <hr />
                    <h4>售價:@item.ProductPrice</h4>
                    @if (Session["Member"] == null)
                    {
                        <p></p>
                    }
                    else
                    {
                        <p>
                            <a href="@Url.Action("AddCar")?ProductID=@item.ProductID" class="btn btn-primary" onclick="">加入購物車</a>
                        </p>
                    }
                </div>
            </div>
        </div>
    }
</div>
