@model IEnumerable<ShoppingCar.Models.Product>

@{
    ViewBag.Title = "ProductList";
}

<h2>ProductList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductImg_DB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductExplain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Create_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delete_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delete_Flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modify_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                byte[] img = item.ProductImg_DB;

                var base64 = Convert.ToBase64String(img);
                string imageDate = String.Format("data: image / gif;base64,{0}", base64);
            }
            <img src="@imageDate" style="width:30%;height:5em" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductExplain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delete_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delete_Flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modify_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "ProductEdit", new { ProductID = item.ProductID })
            @Html.ActionLink("Delete", "Delete", new { ProductID = item.ProductID })
        </td>
    </tr>
}

</table>
