@model ShoppingCar.Models.OrderDetailList
@{
                /**/

                ViewBag.Title = "購物車";
}
<h2>購物車</h2>

@using (Html.BeginForm())
{
    <table class="table form-group" id="list">
        <tr>
            <th>
                UserID@*Html.DisplayNameFor(model => model.UserID)*@
            </th>
            <th>
                ProductName@*Html.DisplayNameFor(model => model.Product.ProductName)*@
            </th>
            <th>
                ProductQty@*Html.DisplayNameFor(model => model.ProductQty)*@
            </th>
            <th>
                Price@*Html.DisplayNameFor(model => model.TotalPrice)*@
            </th>
            <th>
                Create_Date@*Html.DisplayNameFor(model => model.Create_Date)*@
            </th>
            <th>
                Approved_Flag@*Html.DisplayNameFor(model => model.Approved_Flag)*@
            </th>
            <th></th>
        </tr>

        @for(int i=0;i<Model.OrderDetails.Count; i++)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.OrderDetails[i].UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.OrderDetails[i].ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.OrderDetails[i].ProductQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.OrderDetails[i].TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.OrderDetails[i].Create_Date)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => modelItem.OrderDetails[i].Approved_Flag)
                @Html.HiddenFor(modelItem => modelItem.OrderDetails[i].OrderDetailID)
            </td>
            <td>
                <a href="@Url.Action("DeleteCar")?OrderDetailID=@Model.OrderDetails[i].OrderDetailID" class="btn btn-danger">刪除</a>
            </td>
        </tr>
        }

    </table>

    <div class="form-horizontal">
        <div class="form-group">
            <span class="control-label col-md-2">商品小計</span>
            <div class="col-md-10">
                <input type="number" step="0.01" id="TotalPrice" name="TotalPrice" class="form-control" readonly value="0"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="結帳去" id="Checkout" name="Checkout" required="required" class="btn btn-default" />
            </div>
        </div>
    </div>
}
