@model IEnumerable<ShoppingCar.Models.ShoppingCarList>

@{
    ViewBag.Title = "Check_Car";
}

<h2>Check_Car</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Create_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
