@model ShoppingCar.Models.OrderDetailList

@{
    /**/

    ViewBag.Title = "購物車";
}
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<h2>購物車</h2>

@if (ViewBag.CheckCarMessage != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.CheckCarMessage");
            };
    </script>
}
@if (TempData["DeleteCar"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["DeleteCar"]");
            };
    </script>
}
<script>
    let checkarray = [];
    function checkboxclick(id, ProductPrice) {

        var qtyId = id + "_textbox_qty";
        var checkId = id + "_checkbox";
        var qty = $("#" + qtyId).val();
        console.log("checkId=" + checkId);
        if ($("#" + checkId).prop("checked")) {
            if (checkExist(checkarray, checkId) == false)
                checkarray.push([checkId, qtyId, qty, ProductPrice]);
            else {
                var index = getIndex(checkarray, checkId);
                console.log("checkarray befor:" + checkarray[index]);
                checkarray[index] = [checkId, qtyId, qty, ProductPrice];
                console.log("checkarray after:" + checkarray[index]);

            }
            countPrice();
        }
        else {
            if (checkExist(checkarray, checkId)) {
                var index = getIndex(checkarray, checkId);
                checkarray.splice(index, 1);
            }
            countPrice();
        }
    }
    function countPrice() {
        var count = 0;
        for (var i = 0; i < checkarray.length; i++) {
            console.log(checkarray[i]);
            count += checkarray[i][2] * checkarray[i][3];
        }
        console.log("count=" + count);
        $("#TotalPrice").val(count);
    }
    function getIndex(array, id) {

        for (var i = 0; i < array.length; i++) {
            if (array[i][0] == id)
                return i;
        }
    }
    function checkExist(array, id) {
        for (var i = 0; i < array.length; i++) {
            if (array[i][0] == id)
                return true;
        }
        return false;
    }
    function Confirm_custom(str) {
        if (confirm(str)) {
            onSubmitBlock();
            return true;
        }
        else {
            return false;
        }
    }
    function onSubmitBlock() {
        $.blockUI({
            message: "請稍等..."
        });
    }
</script>
@using (Html.BeginForm())
{
    <table class="table form-group" id="list">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Product.ProductImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().ProductQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Product.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Approved_Flag)
            </th>
            <th></th>
        </tr>

        @*@for (int i = 0; i < Model.OrderDetails.Count; i++)*@
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>
                    @{
                        if (item.Product.ProductImg != null)
                        {
                            <img src="@Url.Content(item.Product.ProductImg)?w=70&h=70&mode=cropyunits " />
                        }
                        else
                        {
                            <img src="~/Image/notImg_.jpg?w=70&h=70&mode=cropyunits" />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.ProductQty, new { type = "number", min = "1", id = item.ProductID + "_textbox_qty", onchange = "return checkboxclick('" + item.ProductID + "','" + item.Product.ProductPrice + "')" })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductPrice)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Approved_Flag, htmlAttributes: new { @id = item.ProductID + "_checkbox", onchange = "return checkboxclick('" + item.ProductID + "','" + item.Product.ProductPrice + "')" })
                    @Html.HiddenFor(modelItem => item.OrderDetailID)
                </td>
                <td>
                    <a href="@Url.Action("DeleteCar")?OrderDetailID=@item.OrderDetailID" class="btn btn-danger" onclick="return Confirm_custom('確定要刪除嗎?')">刪除</a>
                </td>
            </tr>
        }

    </table>

    <div class="form-horizontal">
        <div class="form-group">
            <span class="control-label col-md-2">商品小計</span>
            <div class="col-md-10">
                <input type="number" step="0.01" id="TotalPrice" name="TotalPrice" class="form-control" readonly value="0" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="結帳去" id="Checkout" name="Checkout" required="required" class="btn btn-default" />
            </div>
        </div>
    </div>
}
