@model IEnumerable<ShoppingCar.Models.OrderDetail>

@{
    ViewBag.Title = "訂單明細";
    if (Session["Member"] != null)
    {
        if (Session["Member"].ToString() == "Admin")
        {
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutMember.cshtml";
        }
    }
}
<script>
    function Confirm_custom(str) {
        if (confirm(str)) {
            onSubmitBlock();
            return true;
        }
        else {
            return false;
        }
    }
    function onSubmitBlock() {
        $.blockUI({
            message: "請稍等..."
        });
    }
</script>
<h2>訂單明細</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @{
                if (item.Product.ProductImg != null)
                {
                    <img src="@Url.Content(item.Product.ProductImg)?w=70&h=70&mode=cropyunits " />
                }
                else
                {
                    <img src="~/Image/notImg_.jpg?w=70&h=70&mode=cropyunits" />
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductPrice)
        </td>
    </tr>
    }

</table>
