@model IPagedList<ShoppingCar.Models.OrderHeader>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "訂單列表";
}
<head>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
    @if (TempData["DeleteOrderMessage"] != null)
    {
        <script type="text/javascript">
                var message = @Html.Raw(Json.Encode(TempData["DeleteOrderMessage"]));
                alert(message);
        </script>
    }
</head>
<h2>訂單列表</h2>
<p>
    @Html.ActionLink("下載所有訂單", "Download_ALL_Order")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Receiver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Create_Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create_Date)
            </td>
            <td>
                @Html.ActionLink("Details", "OrderListDetail", new { OrderID = item.OrderID }) |
                @Html.ActionLink("Delete", "DeleteOrder", new { OrderID = item.OrderID })  |
                @Html.ActionLink("DownLoad Excel", "DownloadOrderExcel", new { OrderID = item.OrderID })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("OrderList", new { page }))