@*@model IEnumerable<ShoppingCar.Models.Product>*@
@model IPagedList<ShoppingCar.Models.Product>
@using ImageResizer;
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<script>
    function Confirm_custom(str) {
        if (confirm(str)) {
            onSubmitBlock();
            return true;
        }
        else {
            return false;
        }
    }
    function onSubmitBlock() {
        $.blockUI({
            message: "請稍等..."
        });
    }
</script>
<h2>ProductList</h2>
@if (ViewBag.DBResultErrorMessage != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.DBResultErrorMessage");
            };
    </script>
}
@if (TempData["EditMessage"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["EditMessage"]");
            };
    </script>
}
@if (TempData["DeleteMessage"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["DeleteMessage"]");
            };
    </script>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductImg_DB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductExplain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Create_Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    byte[] img = item.ProductImg_DB;

                    var base64 = Convert.ToBase64String(img);
                    string imageDate = String.Format("data: image / gif;base64,{0}", base64);

                    if (item.ProductImg != null)
                    {
                        <img src="@Url.Content(item.ProductImg)?w=70&h=70&mode=cropyunits " />
                    }
                    else
                    {
                        <img src="~/Image/notImg_.jpg?w=70&h=70&mode=cropyunits" />
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ProductExplain)*@
                <style>
                    textarea {
                        resize: none;
                    }
                </style>
                @Html.TextAreaFor(model => item.ProductExplain, new { @class = "form-controll", cols = "35", rows = "3", disabled = "disabled" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create_Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "ProductEdit", new { ProductID = item.ProductID })
                @Html.ActionLink("Delete", "DeleteProduct", new { ProductID = item.ProductID }, new { onclick = "return Confirm_custom('確定要刪除嗎?')" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("ProductList", new { page }))
