@using PagedList
@using PagedList.Mvc

@model IEnumerable<ShoppingCar.Models.Product>
@using ImageResizer;
@{
    ViewBag.Title = "ProductList";
    if (Session["Member"] != null)
    {
        if (Session["Member"].ToString() == "Admin")
        {
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutMember.cshtml";
        }
    }
}
<head>

</head>
<script>
    function Confirm_custom(str) {
        if (confirm(str)) {
            onSubmitBlock();
            return true;
        }
        else {
            return false;
        }
    }
    function onSubmitBlock() {
        $.blockUI({
            message: "請稍等..."
        });
    }
</script>
<h2>ProductList</h2>


    <style>
        textarea {
            resize: none;
        }
    </style>
@(Html.Kendo().Grid<ShoppingCar.Models.Product>()
    .Name("grid")
    .Columns(colums =>
    {
        colums.Bound(item => item.ProductImg)
        .ClientTemplate(
            @"<img src='" + Url.Content("~") + "#=ProductImg#?w=70&h=70&mode=cropyunits ' alt='#=ProductID #' Title='#=ProductID #'/>").Width(90);
        colums.Bound(item => item.ProductName);
        colums.Bound(item => item.ProductExplain)
            .ClientTemplate("<textarea rows = '3' disabled = 'disabled' style='width:99%;'>#=ProductExplain#</textarea>").Width(270);
        colums.Bound(item => item.ProductPrice);
        colums.Bound(item => item.Product_Category.CategoryName);
        colums.Bound(item => item.Shelf_Flag)
            .ClientTemplate("<input type='checkbox' disabled = 'disabled' ${ Shelf_Flag == true ? checked='checked' : ''} value='#= Shelf_Flag#' onclick=''/>"
                            + "<input type='hidden' value='#= Shelf_Flag#' class='Shelf_Flag'/>").Width(50).HtmlAttributes(new { style ="text-align: center;" });
        colums.Bound(item => item.Create_Date);
        colums.Template(item => { }).ClientTemplate("<a class='k-button' href='" + Url.Action("ProductEdit","Product") + "/?ProductID=#=ProductID#''>Edit</a>"
            + Html.ActionLink("Delete", "DeleteProduct", new { ProductID = "#=ProductID #" }, new { onclick = "return Confirm_custom('確定要刪除嗎?')" ,@class="k-button"}));

    })
    //.ToolBar(tools => tools.Excel())
    //.ToolBar(toolbar => toolbar.Custom().Text("Create").Action("CreateProduct", "Product"))
    .ToolBar(toolbar =>
    {
        toolbar.Template(
            @<text>
                <div class="create-button">
                    <a class="k-button k-button-icontext k-grid-excel" href="#"><span class="k-icon k-i-excel"></span>Export to Excel</a>
                </div>
                <div class="create-button">
                    <a class="k-button" href="@Url.Action("CreateProduct", "Product")">Create</a>
                </div>
                <div class="toolbar">
                    <label class="category-label" for="category">Show products by category:</label>
                    @(Html.Kendo().DropDownList()
                            .Name("categories")
                            .OptionLabel("All")
                            .DataTextField("CategoryName")
                            .DataValueField("CategoryID")
                            .AutoBind(false)
                            .Events(e => e.Change("categoriesChange"))
                            .DataSource(ds =>
                            {
                                ds.Read("Product_Category", "Product");
                            })
                            .Filter("contains")
                            .HtmlAttributes(new { style = "" })
                    )
                </div>
            </text>);
    })
    .Excel(excel => excel
        .FileName("KendoUIGridExport.xlsx")
        .Filterable(true)
        .ProxyURL(Url.Action("Excel_Export_Save", "Product"))
        )
    .HtmlAttributes(new { style= "height:550px;" })
    .Scrollable()
    .Sortable()
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(true)
        .Model(model => model.Id(p => p.ProductID))
        .Read(read => read.Action("Products_Read", "Product"))
        .PageSize(20))
    .Pageable(pageable => pageable
        .Refresh(true)
        .ButtonCount(5)
        .PageSizes(true))
)

<script>

    function categoriesChange() {
        var value = this.value(),
            grid = $("#grid").data("kendoGrid");

        if (value) {
            grid.dataSource.filter({ field: "CategoryID", operator: "eq", value: parseInt(value) });
        } else {
            grid.dataSource.filter({});
        }
    }
</script>
    <style>
        .customer-photo {
    display: inline-block;
    width: 32px;
    height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin-left: 5px;
    }

        .customer-name {
    display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
        .create-button {
    display: inline-block;
    }
        .toolbar{
        float:right;
    }
    </style>


<script type="text/x-kendo-tmpl" id="template">
    <div class="product">
        <img src="@Url.Content("~")#:ProductImg#" alt="#:ProductName# image" />
        <h3>#:ProductName#</h3>
    </div>
</script>

<div class="demo-section k-content wide">
    @(Html.Kendo().ListView<ShoppingCar.Models.Product>(Model)
            .Name("listView")
            .TagName("div")
            .ClientTemplateId("template")
            .DataSource(dataSource =>
            {
                dataSource.Read(read => read.Action("Products_Read", "Product"));
                dataSource.PageSize(20);
            })
            .Pageable(pageable => pageable
                .Refresh(true)
                .ButtonCount(5)
                .PageSizes(true))
            //.Selectable(selectable => selectable.Mode(ListViewSelectionMode.Multiple))
            //.Events(events => events.Change("onChange").DataBound("onDataBound"))
    )
</div>

<style>
    .product {
        float: left;
        width: 220px;
        height: 110px;
        margin: 0;
        padding: 5px;
        cursor: pointer;
    }

        .product img {
            float: left;
            width: 110px;
            height: 110px;
        }

        .product h3 {
            margin: 0;
            padding: 10px 0 0 10px;
            font-size: .9em;
            overflow: hidden;
            font-weight: normal;
            float: left;
            max-width: 100px;
            text-transform: uppercase;
        }

    .k-pager-wrap {
        border-top: 0;
    }

    .demo-section .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
</style>
